
body {
  background-color: #EDE6DB;
}

img {
  height:  250px;
}

hr {
  background-color: white;
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
